.welcome-container {
    text-align: center;
    padding: 20px;
}

.message-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 500px !important;
    margin: 0 auto;
}

.message-list {
    list-style: none;
    padding: 0;
    color: black;
}

.message-item {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.message-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-button:hover {
    background-color: #0056b3;
}

.message-input,
.name-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 200px;
}


/* Navbar.css */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #9c6753;
}

.navbar-links a:last-child:hover {
    background-color: #ff4500;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.game-list {
    list-style: none;
    padding: 0;
}

.game-message {
    background-color: #bc7171;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

#welcome-card {
    margin-left: 25%;
}

#stats {
    margin-left: 35%;
}

#profile-money {
    margin-left: 65%;
}

body {
    background-image: url('https://t4.ftcdn.net/jpg/03/20/86/93/240_F_320869363_2xgd64uUdIrJ9hAJqaHzGCZeK6qgSVdL.jpg');
    background-size: "cover";
    background-repeat: "no-repeat";
    background-attachment: "fixed";
    overflow-y: "auto";
    color: white
  };

main {
    background-color: white;
    height: 100px;
    width: 100px;
  }